<a href="https://colab.research.google.com/github/Thando367/Prediction-of-Product-Sales/blob/main/Project_1_Part_5(Core)_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Project 1 - Part 5 (Core)

<h5>Thandolwethu Siloyi

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
# Import packages
import pandas as pd
import numpy as np

In [3]:
#import to read data
df_sales = pd.read_csv('/content/drive/MyDrive/StudentFolders16wk20wk/CodingDojo/02-MachineLearning/Week06/Data/sales_predictions_2023.csv')
df_sales.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [23]:
df2 = df_sales.copy()

In [5]:
df_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [6]:
# checking duplicates
df_sales.duplicated().sum()
# no duplicates

0

In [7]:
# checking datatypes
df_sales.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [8]:
# fix inconsistencies in categorical data.
# Check unique values in each categorical column
string_cols = df_sales.select_dtypes('object').columns

for col in string_cols:
  print(f'Unique values for {col}')
  print(df_sales[col].value_counts())
  print('\n')

Unique values for Item_Identifier
FDW13    10
FDG33    10
NCY18     9
FDD38     9
DRE49     9
         ..
FDY43     1
FDQ60     1
FDO33     1
DRF48     1
FDC23     1
Name: Item_Identifier, Length: 1559, dtype: int64


Unique values for Item_Fat_Content
Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64


Unique values for Item_Type
Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64


Unique values for Outlet_Identifier
OUT027    935
OUT013    932
OUT049    930
OUT046    930
OUT035    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64


Unique values for Outlet_Size
Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64


Unique values for Outlet_Location_Type
Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64


Unique values for Outlet_Type
Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [9]:
# checking inconsistancies for numerical
num_cols = df_sales.select_dtypes('number').columns

for number in num_cols:
  print(f'Unique values for{number}')
  print(df_sales[number].value_counts())
  print('\n')

Unique values forItem_Weight
12.150    86
17.600    82
13.650    77
11.800    76
15.100    68
          ..
7.275      2
7.685      1
9.420      1
6.520      1
5.400      1
Name: Item_Weight, Length: 415, dtype: int64


Unique values forItem_Visibility
0.000000    526
0.076975      3
0.162462      2
0.076841      2
0.073562      2
           ...
0.013957      1
0.110460      1
0.124646      1
0.054142      1
0.044878      1
Name: Item_Visibility, Length: 7880, dtype: int64


Unique values forItem_MRP
172.0422    7
170.5422    6
196.5084    6
188.1872    6
142.0154    6
           ..
97.3384     1
83.1934     1
96.6752     1
152.6682    1
75.4670     1
Name: Item_MRP, Length: 5938, dtype: int64


Unique values forOutlet_Establishment_Year
1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64


Unique values forItem_Outlet_Sales
958.7520     17
1342.2528    16
703.0848     15
1845.5976    15
1278.3360    14
             ..
4124.6310     1
6622.7126     1
1614.5650     1
5602.7070     1
2778.3834     1
Name: Item_Outlet_Sales, Length: 3493, dtype: int64

<h1> Identify the features (X) and target (y)

In [10]:
# new imports
# Import packages
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns',100)
import missingno
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_selector

# Set pandas as the default output for sklearn
from sklearn import set_config
set_config(display='diagram')

In [11]:
# define feature X and exclude name column
X = df_sales.drop(columns='Item_Outlet_Sales')

# define target y as Item_Outlet_Sales
y = df_sales['Item_Outlet_Sales']

In [12]:
# performing the train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

<h1>Create a preprocessing object to prepare the dataset for Machine Learning

In [13]:
# creating a numerical data selector
num_cols = make_column_selector(dtype_include='number')
num_cols(X_train)

['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year']

In [14]:
# to scale the data we have to create the scale
scaler = StandardScaler()

In [15]:
# Creating pipeline for numbers columns
#num_pipeline = scaler.fit_transform(X_train[num_selection(X_train)])

In [16]:
######################################################

In [17]:
# Creating a categorical data selector
cat_cols = make_column_selector(dtype_include = 'object')
cat_cols(X_train)

['Item_Identifier',
 'Item_Fat_Content',
 'Item_Type',
 'Outlet_Identifier',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type']

In [18]:
# creating pipeline to carry categorical data
impute_categorical = SimpleImputer(strategy='missing')

encoder = OneHotEncoder(handle_unknown='ignore',sparse=False)

categorical_pipeline = (impute_categorical, encoder)
categorical_pipeline

(SimpleImputer(strategy='missing'),
 OneHotEncoder(handle_unknown='ignore', sparse=False))

In [19]:
# Create a preprocessing pipeline
preprocessing_pipeline = ([
    ('numeric', scaler, num_cols),
    ('categoric', impute_categorical, encoder, cat_cols)
])
preprocessing_pipeline

[('numeric',
  StandardScaler(),
  <sklearn.compose._column_transformer.make_column_selector at 0x7d9f29838460>),
 ('categoric',
  SimpleImputer(strategy='missing'),
  OneHotEncoder(handle_unknown='ignore', sparse=False),
  <sklearn.compose._column_transformer.make_column_selector at 0x7d9f298391b0>)]

In [20]:
# Fit the preprocessing pipeline on the training data
preprocessing_pipeline.fit(X_train)

AttributeError: ignored

In [ ]:
# Testing column Transformer
#Fit column transformer